* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    color: black; 
}

body{
    background-image: radial-gradient(circle, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #f7f6fe, #efecfe, #e7e3fd, #d5cefb, #c2baf8, #aea6f5, #9a92f2);
    font-weight: 500;
    font-size: 14px;
}

.container{
    max-width: 900px;
    margin: 30px auto;
}

.titulo{
    text-align: center;
    color: #040148;
    text-shadow: #0E0D2C 2px 2px 4px;
    margin: 10px;
    font-size: 35px;
}

#formulario p{
    font-size: 18px;
    margin-left: 8%;
}

hr{
    box-shadow: 1px 1px 1px 2px #040148;
}

form{
    max-width: 900px;
    margin: 10px 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.campo{
    margin: 8px;
    display: grid;
    /* width: auto; */    
}

fieldset{
    border: 0;
    margin: 8px;
    display: grid;
}

.data_nasc{
    display: flex;    
}

fieldset .campo{
    display: flex;
    margin: 0;    
}

.data_nasc .campo label{
    margin: 8px 5px 0 8px;
}

.campo input, select{
    padding: 3px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid #0E0D2C;
    box-shadow: 2px 2px 2px #040148;
    background-color: #ffffff;
}

input:focus, select:focus{
    background-color: #c5c3e4;
}

#nome, #cargo{
    width: 250px;
}

#endereco{
    width: 350px;
}

#bairro, #cidade, #cep{
    width: 200px;
}

#fixo1, #fixo2, #celular, #contato{
    width: 150px;
}

button{
    width: 20%;
    margin-top: 30px;
    border: none;
    border-radius: 7px;
    box-shadow: 2px 2px 2px #040148;
    height: 50px;
    background-color: #0E0D2C;
    color: #d1d1e2;
    font-size: large;
    font-weight: 700;
    position: relative;
    left: 40%;
    cursor: pointer;
    transition: 300ms;
}

button:hover{
    background-color: #c5c3e4;
    color: #0E0D2C;
    border: 2px solid #0E0D2C;
}